* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Days One', sans-serif;
}

:root {
  --bg-color: #191a1d;
  --font-color: #fff;
  --input-focus: #31373e;
  --bg-color-game: #22252d;
  --bg-color-button: #1e2026;
  --bg-color-input: #202229;
  --bg-color-button-start: #12ced5;
  --bg-color-button-restart: #cf0042;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  text-align: center;
  margin: 0; 
}

main {
  max-width: 24rem;
  margin: 2rem auto 0;
  width: 100%;
}


.title {
  font-size: 2.875rem;
  text-align: center;
  color: var(--bg-color-button-start);
}

.name-players {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  text-align: center;
  margin: 0.5rem 0;
}

.name-players label span {
  color: var(--bg-color-button-restart);
}

input {
  background-color: var(--font-color);
  color: var(--bg-color-input);
  font-size: 0.875rem;
  width: 11.5rem;
  padding: 0.5rem;
  border: none;
  text-align: center;
  border-radius: 0.55rem;
  margin: 0 0.5rem;
  outline: none;
}

input:hover {
  transition: 0.15s;
  box-shadow: 1px 1px 15px var(--input-focus);
}

input:focus {
  box-shadow: 1px 1px 15px var(--input-focus);
}

#turnPlayer {
  color: var(--bg-color-button-start);
}

button {
  color: var(--font-color);
  background-color: var(--bg-color);
  font-size: 1rem;
  width: 24rem;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border-radius: 0.75rem;
  border: 2px solid var(--bg-color-button-start);
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--bg-color-button-start);
  transition: 0.15s;
}

.restart-button {
  background-color: var(--bg-color-button-restart);
  border: 2px solid var(--bg-color-button-restart);
}

.restart-button:hover {
  background-color: var(--bg-color-button-restart);
  opacity: 0.9;
  transition: 0.15s;
}

header h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

#game {
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 7.5rem 7.5rem 7.5rem;
  grid-template-rows: 7.5rem 7.5rem 7.5rem;
  gap: 0.75rem;
  max-width: 24rem;
}

#game span {
  background-color: var(--bg-color-button);
  color: var(--font-color);
  font-size: 5rem;
  display: grid;
  place-content: center;
}

#game span:hover {
  filter: brightness(1.2);
  transition: 0.15s;
}

#game .win {
  background-color: var(--bg-color-button-start);
}

.cursor-pointer {
  cursor: pointer;
}

#b-sup-esq {
  border-radius: 1rem 0 0;
}
#b-sup-dir {
  border-radius: 0 1rem 0 0;
}
#b-inf-esq {
  border-radius: 0 0 0 1rem;
}
#b-inf-dir {
  border-radius: 0 0 1rem;
}

@media (max-width: 768px) {
  main {
    max-width: 21rem;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .name-players {
    font-size: 1rem;
  }

  input {
    font-size: 0.75rem;
    width: 10rem;
  }

  button {
    font-size: 0.875rem;
    width: 21rem;
    padding: 0.75rem;
    margin: 0.75rem 0;
    border-radius: 0.75rem;
  }

  header h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
  }

  #game {
    grid-template-columns: 6.5rem 6.5rem 6.5rem;
    grid-template-rows: 6.5rem 6.5rem 6.5rem;
    gap: 0.75rem;
    max-width: 21rem;
  }

  #game span {
    font-size: 4rem;
  }
}

@media (max-width: 425px) {
  main {
    max-width: 19rem;
  }

  .title {
    font-size: 2.15rem;
    margin-bottom: 0.5rem;
  }

  .name-players {
    font-size: 1rem;
  }

  input {
    font-size: 0.7rem;
    width: 9rem;
  }

  button {
    font-size: 0.875rem;
    width: 19rem;
    padding: 0.75rem;
    margin: 0.75rem 0;
    border-radius: 0.75rem;
  }

  header h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
  }

  #game {
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: 0.5rem;
    max-width: 19rem;
  }

  #game span {
    font-size: 4rem;
  }
}
